{% macro feed_post(props) %}
  <article {% if props.classes %}class="{{ props.classes }}"{% endif %}>
    <time class="block" datetime="{{ props.date.toISOString() }}">{{ props.date | date('YYYY.MM.DD') }}</time>
    <a class="block  text-lg" href="{{ props.url }}">{{ props.title }}</a>
  </article>
{% endmacro %}
