<meta property="og:title" content="{{ title }}">
{% if description %}<meta name="description" property="og:description" content="{{ description }}">{% endif %}
<meta property="og:url" content="{{ canonical or page.url | fullurl }}">
<meta property="og:type" content="{% if (tags or []).indexOf('posts') > -1 %}article{% else %}website{% endif %}">
<meta name="twitter:card" content="summary{% if image %}_large_image{% endif %}">

{%- if image %}
  <meta property="og:image" content="{{ image }}">
{%- endif %}

{% if noindex %}<meta name="robots" content="noindex">{% endif %}

{%- for meta in metadata -%}
    <meta{% if meta.name %} name="{{ meta.name }}"{% endif %}{% if meta.property %} property="{{ meta.property }}"{% endif %}{% if meta.content %} content="{{ meta.content }}"{% endif %}>
{% endfor -%}
