{% if noindex %}<meta name="robots" content="noindex">{% endif %}
{%- for meta in metadata -%}
    <meta{% if meta.name %} name="{{ meta.name }}"{% endif %}{% if meta.property %} property="{{ meta.property }}"{% endif %}{% if meta.content %} content="{{ meta.content }}"{% endif %}>
{% endfor -%}
