<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#" class="font-main  lg:text-lg">
<head>
  {%- block head %}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block css %}
    <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <noscript><link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet"></noscript>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | fullurl }}">
  {% endblock %}

  <title>{{ title }}{% if page.url != '/' %} | {{ site.name }}{% endif %}</title>
  <link rel="canonical" href="{{ canonical or page.url | fullurl }}">
  <link rel="alternate" type="application/rss+xml" href="{{ '/feed.xml' | fullurl }}">
  {% include 'metadata.njk' %}
  {% endblock -%}
</head>
<body>
  {% block header %}

    {# Amend classes depending on theme #}
    {% set wrapperClasses = '' %}
    {% if layout == 'post.njk' %}
      {% if theme == 'red' %}
        {% set wrapperClasses = wrapperClasses + '  bg-red-800' %}
        {% set textColor = 'text-red-100' %}
      {% elif theme == 'blue' %}
        {% set wrapperClasses = wrapperClasses + '  bg-blue-800' %}
        {% set textColor = 'text-blue-100' %}
      {% elif theme == 'yellow' %}
        {% set wrapperClasses = wrapperClasses + '  bg-yellow-500' %}
        {% set textColor = 'text-yellow-900' %}
      {% else %}
        {% set wrapperClasses = wrapperClasses + '  bg-dark-100' %}
        {% set textColor = 'text-dark-900' %}
      {% endif %}
    {% endif %}

    <header class="{{ wrapperClasses }}">
      <div class="max-w-prose  mx-auto  pt-6  pl-2  pr-4">
        <a class="inline-block" href="{{ '/' | fullurl }}">
          {% from 'itreallydobelikethat-logo.njk' import siteLogo %}
          {{ siteLogo({ textColorClass: textColor }) }}
        </a>
      </div>
    </header>

  {% endblock %}

  <main>
  {%- block body %}
    {{ content | safe }}
  {%- endblock %}
  </main>

  <footer class="mt-8  mb-4  text-center  text-dark-500">
    Made by <a class="underline" href="https://twitter.com/joejoinerr">{{ site.author }}</a>
  </footer>
</body>
</html>
