<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#" class="font-main  lg:text-lg">
<head>
  {%- block head %}
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.root + '/assets/css/main.css' }}">

  <title>{{ title }}</title>
  {%- set canonical = canonical | replace(site.root, '') %}
  {%- set canonicalHref = site.root + ( canonical or page.url ) %}
  <link rel="canonical" href="{{ canonicalHref }}">
  {% include 'metadata.njk' %}
  {% endblock -%}
</head>
<body>
  {% block header %}

    {% set wrapperClasses = '' %}

    {# Amend classes depending on theme #}
    {% if theme == 'red' %}
      {% set wrapperClasses = wrapperClasses + '  bg-red-800' %}
    {% elif theme == 'blue' %}
      {% set wrapperClasses = wrapperClasses + '  bg-blue-800' %}
    {% elif theme == 'yellow' %}
      {% set wrapperClasses = wrapperClasses + '  bg-yellow-500' %}
    {% endif %}

    <header class="{{ wrapperClasses }}">
      <div class="max-w-prose  mx-auto  pt-6  pl-2  pr-4">
        <a class="inline-block" href="{{ site.root + '/' }}">{% include 'itreallydobelikethat-logo.svg' %}</a>
      </div>
    </header>

  {% endblock %}

  <main>
  {%- block body %}
    {{ content | safe }}
  {%- endblock %}
  </main>
</body>
</html>
