<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
  {%- block head %}
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.root + '/assets/css/main.css' }}">

  <title>{{ title }}</title>
  {%- set canonical = canonical | replace(site.root, '') %}
  {%- set canonicalHref = site.root + ( canonical or page.url ) %}
  <link rel="canonical" href="{{ canonicalHref }}">
  {% include 'metadata.njk' %}
  {% endblock -%}
</head>
<body class="font-main">
  {% block header %}
    <header class="max-w-prose  pl-2  pr-4  mx-auto">
      <a class="inline-block" href="{{ site.root + '/' }}">{% include 'itreallydobelikethat-logo.svg' %}</a>
    </header>
  {% endblock %}

  <main>
  {%- block body %}
    {{ content | safe }}
  {%- endblock %}
  </main>
</body>
</html>
