{% extends './base.njk' %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-gruvbox-dark.min.css" integrity="sha512-XZoe1WroNfbcndQJexn+pbMEytiaSYRHDuKjew+Nn0xYSTmB4sfoZnBdqYCrXq2IwAcPZS/sXE5ju/JbppYOsA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
  {% from 'post-header.njk' import postHeader %}
  <article class="mb-16">
    {{ postHeader({
      title: title,
      theme: theme
    }) }}
    <time class="max-w-prose  mx-auto  block  mb-5  px-4  text-dark-500" datetime="{{ date.toISOString() }}">{{ date | date('YYYY.MM.DD') }}</time>
    <div class="max-w-prose  mx-auto  prose  px-4  text-dark-900">
      {{ content | safe }}
    </div>
  </article>
{% endblock %}
