---
layout: base.njk
---

{% from 'post-header.njk' import postHeader %}

{% block body %}
  <article class="mb-16">
    {{ postHeader({
      title: title,
      theme: theme
    }) }}
    <time class="max-w-prose  mx-auto  block  mb-5  px-4  text-dark-500" datetime="{{ date.toISOString() }}">{{ date.toISOString() | date('yyyy.LL.dd') }}</time>
    <div class="max-w-prose  mx-auto  prose  px-4  text-dark-900">
      {{ content | safe }}
    </div>
  </article>
{% endblock %}
