---
layout: 404.njk
eleventyExcludeFromCollections: true
title: Page not found
noindex: true
---
<div class="max-w-prose  mx-auto  pt-6  pl-2  pr-4  text-center">
  <h1 class="font-bold">There's no page here.</h1>
  <p>Sorry, but nothing is published at this URL. Perhaps you want to read about <a href="/blog/onion-bhaji-showdown/">onion bhajis</a> instead?</p>
</div>
