---
layout: base.njk
---

{% block body %}
  <div class="max-w-prose  pt-10  px-4  pb-10  mx-auto">
    <p class="mb-16  text-dark-900  text-2xl  sm:text-3xl  lg:text-4xl  leading-normal  sm:leading-normal  lg:leading-snug">
      <strong><em>It really do be like that</em></strong> is my blog about anything and nothing, but mainly design, code, music and automation.
    </p>

    <div class="text-dark-900">
      {% from 'feed-post.njk' import feedPost %}
      {% for post in collections.posts %}
        {# Use the feed_post component to keep format consistent #}
        {% if loop.last %}
          {% set feedPostClasses = null %}
        {% else %}
          {% set feedPostClasses = 'mb-10  sm:mb-12  lg:mb-16' %}
        {% endif %}
        {{ feedPost({
          title: post.data.title,
          date: post.date,
          url: post.url,
          classes: feedPostClasses
        }) }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
