---
layout: base.njk
---

{% block body %}
  <p>
    <strong><em>It really do be like that</em></strong> is my blog about anything and nothing, but mainly design, code, music and automation.
  </p>

  <div>
    {% from 'feed-post.njk' import feed_post %}
    {% for post in collections.posts %}
      {# Use the feed_post component to keep format consistent #}
      {{ feed_post(post.data.title, post.date, post.url) }}
    {% endfor %}
  </div>
{% endblock %}
