---
layout: base.njk
---

{% block body %}
  <div class="max-w-prose  px-4  mx-auto">
    <p class="mb-12  text-dark-900  text-2xl  leading-snug">
      <strong><em>It really do be like that</em></strong> is my blog about anything and nothing, but mainly design, code, music and automation.
    </p>

    <div class="text-dark-900">
      {% from 'feed-post.njk' import feed_post %}
      {% for post in collections.posts %}
        {# Use the feed_post component to keep format consistent #}
        {% if loop.last %}
          {% set feedPostClasses = null %}
        {% else %}
          {% set feedPostClasses = 'mb-10' %}
        {% endif %}
        {{ feed_post({
          title: post.data.title,
          date: post.date,
          url: post.url,
          classes: feedPostClasses
        }) }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
